<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.7.0/css/buttons.dataTables.min.css" />

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.7.0/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.print.min.js"></script>
<h1 style=" text-align: center;">Seed Keywords</h1>

<table id="example" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Seed Keyword</th>
            <th>Search Volume</th>
            <th>Total Unique Keywords</th>
            <th>Total Questions</th>
            <th>Total Volume</th>
        </tr>
    </thead>
    <tbody>
        {% for keyword in keywords %}
        <tr>
            <td style=" text-align: center;">
                <a href="http://127.0.0.1:8000/content/keyword/stats/?seed_keyword={{ keyword.keyword }}"
                    target="_blank">
                    {{ keyword.keyword }}
                </a>
            </td>
            <td style=" text-align: center;">{{ keyword.search_volume }}</td>
            <td style=" text-align: center;">{{ keyword.unique_keywords }}</td>
            <td style=" text-align: center;">{{ keyword.total_questions }}</td>
            <td style=" text-align: center;">{{ keyword.total_volume }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


<script>
    $(document).ready(function () {
        $('table#example').DataTable({
            "searching": true,
            "paging": true,
            "order": [[0, "asc"]],
            "ordering": true,
            "columnDefs": [{
                "targets": [3],
                "orderable": false
            }],
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'excelHtml5',
                    title: 'Data export'
                },
                {
                    extend: 'csvHtml5',
                    title: 'Data export'
                }
            ]
        });
    })
</script>