
<link rel="stylesheet" type="text/css"
href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" />
<link rel="stylesheet" type="text/css"
href="https://cdn.datatables.net/buttons/1.7.0/css/buttons.dataTables.min.css" />

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.7.0/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.print.min.js"></script>
<h1 style=" text-align: center;">Keywords</h1>

<table id="example" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>Keyword</th>
            <th>Search Volume</th>
            <th>CPC</th>
            <th>Competition</th>
            <th>Seed Keyword</th>
            <th>Is Question</th>
        </tr>
    </thead>
    <tbody>
        {% for keyword in keywords %}
        <tr>
            <td>{{ keyword.keyword }}</td>
            <td>{{ keyword.search_volume }}</td>
            <td>{{ keyword.cpc }}</td>
            <td>{{ keyword.competition }}</td>
            <td>{{ keyword.seed_keyword }}</td>
            <td>{{ keyword.is_question }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
 
<script>
    $(document).ready(function () {
        $('table#example').DataTable({
            "searching":true,
            "paging":true,
            "order":[[0,"asc"]],
            "ordering":true,
            "columnDefs":[{
                "targets" : [3],
                "orderable" : false
            }],
            dom: 'Bfrtip',
            buttons: [
            {
                extend: 'excelHtml5',
                title: 'Data export'
            },
            {
                extend: 'csvHtml5',
                title: 'Data export'
            }
            ]
        });
    })
</script>